HelloWorldSOA/ORDSInsertPOST/SOA/Adapters/insertEmployeeFull_REST_GET_PathParam_ReturnNoPayload.wadl

<?xml version = '1.0' encoding = 'UTF-8'?>
<application xmlns:soa="http://www.oracle.com/soa/rest" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:ns1="http://www.example.org" xmlns="http://wadl.dev.java.net/2009/02">
   <doc title="insertEmployeeFull_REST_GET_PathParam_ReturnNoPayload">RestService</doc>
   <grammars>
      <schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:client="http://xmlns.oracle.com/HelloWorldSOA/ORDSInsertPOST/InsertEmployee" xmlns:ns1="http://www.example.org" xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype">
            <import namespace="http://www.example.org" schemaLocation="../Schemas/Employee.xsd"/>
        </schema>
   </grammars>
   <resources>
      <resource path="/">
         <method name="GET" soa:wsdlOperation="process">
            <request>
               <param name="empid" style="query" soa:expression="$msg.payload/ns1:employee/ns1:empid" default="" type="xsd:integer"/>
               <param name="empname" style="query" soa:expression="$msg.payload/ns1:employee/ns1:empname" default="" type="xsd:string"/>
               <param name="job" style="query" soa:expression="$msg.payload/ns1:employee/ns1:job" default="" type="xsd:string"/>
               <param name="managerid" style="query" soa:expression="$msg.payload/ns1:employee/ns1:managerid" default="" type="xsd:int"/>
               <param name="salary" style="query" soa:expression="$msg.payload/ns1:employee/ns1:salary" default="" type="xsd:int"/>
               <param name="comm" style="query" soa:expression="$msg.payload/ns1:employee/ns1:comm" default="" type="xsd:int"/>
               <param name="deptno" style="query" soa:expression="$msg.payload/ns1:employee/ns1:deptno" default="" type="xsd:int"/>
            </request>
            <response status="200"/>
         </method>
      </resource>
   </resources>
</application>
